html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #273c75;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* THIS STYLE FOR SLATE JS TO STYLING THE EDITOR */
blockquote {
  border-left: 2px solid #ddd;
  margin: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}
:not(pre)>code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}
h1 {
  line-height: 1.2;
}
p {
  margin: 0;
}